<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="car-value-validator" parallel="none">
    <test name="ValidateCarValue">
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="com.carvaluation.testcases.ValidateCarTest"/>
        </classes>
    </test>
</suite>
